body{
    color: white;
    background-image: url("pics/kosk.jpg");
    background-size: cover;
	background-repeat: no-repeat;
	background-position: center; 
	background-attachment: fixed;
  }


a{
    /*attachment: fixed;*/
    text-align: right;
    font-size: 20px;
    color: white;
  }
button, select, input, .btn, label{
    color: black;
    background-color: rgb(233, 252, 243);
    text-align: left;
	border-radius: 12px;
	padding: 5px 10px;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  
p{
    font-size:25px;
    text-shadow: 3px 3px 3px rgb(121, 120, 118);
    font-family: 'Nanum Myeongjo', serif;
}

.randomBm{
    position: relative;
    top: 250px;
    text-align: center;
}
.random{
    font-size:25px;
    text-decoration: underline;
    cursor: auto;
    text-shadow: 3px 3px 3px rgb(146, 142, 133);
    font-family: 'Nanum Myeongjo', serif;
}

#clock {
    color:white;
	position: relative;
	padding: 10px;
    text-align: center;
    font-size: 70px;
    text-shadow: 3px 3px 3px rgb(146, 142, 133);
    font-family: 'Nanum Myeongjo', serif;
}